<% layout('layouts/boilerplate') -%>

<h2>Edit</h2>
<form action="/campgrounds/<%= findCamp._id %>?_method=PUT" method="POST">
    <div>
        <input type="text" id="title" name="campground[title]" value="<%= findCamp.title %>">
        <label for="title">Title</label>
    </div>
    <div>
        <input type="text" id="location" name="campground[location]" value="<%= findCamp.location %>">
        <label for="location">Location</label>
    </div>
    <button>Update campground</button>
</form>
<a href="/campgrounds">All campgrounds</a>
